/* General Body Styles */
body {
        text-align: center;

    background-image: url('/static/images/images.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
        font-size: 1.8rem;

}

/* Heading Styles */
h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #7e7472;
    letter-spacing: 3px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

h2 {
    text-align: center;
    font-size: 2.8rem;
    margin-top: 40px;
    font-weight: 600;
    color: #f8f9fa;
    letter-spacing: 1px;
}

/* Form Container Styles */
.form-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 15px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px); /* Adds blur effect to the background */
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: translateY(50px);
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

/* Fade-in Animation */
@keyframes fadeIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Form Label */
label {

    font-size: 2rem;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Input Styles */
input {
    width: 100%;
    padding: 15px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    border: 2px solid #007bff;
    background-color: #f8f9fa;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

/* Input Focus Effect */
input:focus {
    outline: none;
    border-color: #ff6f61;
    box-shadow: 0 0 8px rgba(255, 111, 97, 0.7);
}

/* Button Styles */
button {
    width: 100%;
    padding: 15px;
    background-color: #ff6f61;
    border: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Button Hover and Active States */
button:hover {
    background-color: #e25749;
    transform: scale(1.05);
}

button:active {
    background-color: #d24539;
    transform: scale(1.02);
}






/* Mobile-Friendly Adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2rem;
    }

    .form-container {
        padding: 30px;
    }

    input, button {
        font-size: 1rem;
    }

    .recommendations-list li {
        width: 100%;
        margin-bottom: 20px;
    }
}
